/* product area */
.sectionTitle {
    text-align: center;
  }
  .sectionTitle .h2:before,
  .sectionTitle h2:before {
    background-color: #000;
    content: "";
    height: 2px;
    left: -100px;
    position: absolute;
    top: 17px;
    width: 80px;
  }
  .sectionTitle .h2:after,
  .sectionTitle h2:after {
    background-color: #000;
    content: "";
    height: 2px;
    left: -100px;
    position: absolute;
    top: 17px;
    width: 80px;
  }
  .productTabContainer {
    display: flex;
    padding: 1em 0;
    justify-content: center;
  }
  .productTab {
    flex-wrap: wrap;
    padding: 0% 1em;
    color: #555;
  }
  .productContainer {
    display: flex;
    padding: 1em 90px;
    flex-wrap: wrap;
  }
  .productImage {
    display: flex;
    flex-wrap: wrap;
    margin: 4% 2%;
    position: relative;
  }
  .productImage img {
    width: 100%;
    transition: all 0.3s ease 0s;
  }
  .productImage a,
  button,
  img,
  input,
  span {
    transition: all 0.3s ease 0s;
  }
  .defaulImage {
    opacity: 1;
  }
  .hoverImage {
    left: 50%;
    opacity: 0;
    position: absolute;
    top: 0;
    -webkit-transform: translate(-50%, 20px);
    transform: translate(-50%, 20px);
    transition-duration: 0.7s;
    visibility: hidden;
  }
  .productImage:hover .defaulImage {
    opacity: 0;
  }
  .productImage:hover .hoverImage {
    opacity: 1;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    visibility: visible;
  }
  .productBadge {
    position: absolute;
    right: 12px;
    top: 12px;
  }
  .productBadge span {
    border-radius: 3px;
    color: #fff;
    display: block;
    font-size: 13px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
    padding: 3px 11px;
  }
  .pink {
    background-color: #fa6bff;
  }
  .purple {
    background-color: #a749ff;
  }
  .productAction {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: absolute;
    bottom: 0;
    align-items: center;
  }
  .productAction > div {
    align-items: center;
    background-color: #a749ff;
    display: flex;
    height: 48px;
    justify-content: center;
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    transition: all 0.5s ease;
    visibility: hidden;
  }
  .productImage:hover .productAction > div {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    visibility: visible;
  }
  .productAction button {
    background-color: #a749ff;
    border: none;
    color: #fff;
    text-align: center;
    height: 3rem;
    width: 100%;
    min-width: 60px;
  }
  .addCartButton {
    width: 100%;
  }
  .wishlistButton:hover,
  .addCartButton:hover,
  .quickViewButton:hover {
    background-color: #000 !important;
  }
  .itemNotAvaliable{
    background-color: #000 !important;
  }
  .quickView {
    border-left: 1px solid hsla(0, 0%, 100%, 0.2) !important;
  }
  .wishList {
    border-right: 1px solid hsla(0, 0%, 100%, 0.2) !important;
  }
  .addCart {
    flex-grow: 2;
  }
  .productContent h3 {
    font-size: 16px;
    text-align: center;
  }
  .productRating {
    text-align: center;
  }
  .ratingIcon {
    padding: 0 2px;
  }
  .productPrice {
    text-align: center;
  }
  .originalPrice {
    margin-left: 0.25em;
  }
  .discountPrice {
    margin-right: 0.25em;
    display: inline-block;
  }
  .strikeThrough {
    text-decoration: line-through;
    opacity: 0.5;
  }
  .disabled {
    cursor: not-allowed !important;
  }
  