/* feature section */

.featureSection {
    display: flex;
    flex-wrap: wrap;
    /* --bs-gutter-x: 1.5rem;
      --bs-gutter-y: 0;
      padding-left: calc(var(--bs-gutter-x) * 0.5);
      padding-right: calc(var(--bs-gutter-x) * 0.5); */
    padding: 2em 5em;
  }
  
  .featureItem {
    display: flex;
    padding: 4% 0;
  }
  .featureImage {
    flex: 0 0 50px;
    margin-right: 20px;
  }
  .featureDetails {
    /* padding: 3% 0; */
  }
  
  img {
    transition: all 0.3s ease 0s;
  }
  .featureItem:hover .featureItem img {
    animation: tada 0.5s ease-in-out 0s 1 normal none running;
  }
  